################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.cache
/.eclipse
/AppData/Roaming/Code/CachedData/6f17636121051a53c88d3e605c491d22af2ba755/chrome
/AppData/Roaming/Code/CachedExtensionVSIXs
/AppData/Roaming/Code/CachedProfilesData/__default__profile__
/AppData/Roaming/Code/Cache/Cache_Data
/AppData/LocalLow/NVIDIA/PerDriverVersion/DXCache
/AppData/LocalLow/Microsoft/CryptnetUrlCache/MetaData
/AppData/LocalLow/Adobe/Acrobat/DC/Reader/Synchronizer/metadata
/AppData/LocalLow/Adobe/Acrobat/DC/Reader/Synchronizer/metadata/Synchronizer
/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content
/AppData/LocalLow/Microsoft/CryptnetUrlCache/Content/103621DE9CD5414CC2538780B4B75751
/AppData/Roaming/Code/CachedConfigurations/defaults/configurationDefaultsOverrides/configuration.json
/AppData/LocalLow/Adobe/Acrobat/DC/Acrobat/Eureka/AcroCoreSync
/AppData/Local/Temp/ba1txdpy.rta/resources/app/ServiceHub/Services/Microsoft.VisualStudio.Setup.Service/tr
/AppData/Local/Temp/ba1txdpy.rta/resources/app/ServiceHub/Services/Microsoft.VisualStudio.Setup.Service/zh-Hans
/AppData/Local/Temp/ba1txdpy.rta/resources/app/ServiceHub/Services/Microsoft.VisualStudio.Setup.Service/zh-Hant
/AppData/Local/Temp/ba1txdpy.rta/resources/app/ServiceHub/Services/Microsoft.VisualStudio.Setup.Service/runtimes/win-x86/native
*.dll
*.dll
/.gitconfig
/.ipython
/.lesshst
/.p2
/.vs
/.vscode
/AppData
/cat.PNG
/cat_meow.mp3
/Contacts
/Desktop
/Documents
/Downloads
/eclipse-workspace
/Favorites
/Links
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{baa63219-6854-11f0-b02e-e8693aa56f32}.TM.blf
/NTUSER.DAT{baa63219-6854-11f0-b02e-e8693aa56f32}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{baa63219-6854-11f0-b02e-e8693aa56f32}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/Saved Games
/Searches
/source
/Videos
